
* {
    box-sizing: border-box;
  }

  h1 {
    font-weight: bold;
    color: #000;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  html {
    background: url(/images/Marvel-Rivals-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: helvetica, arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;  
  }

  header {
    border-bottom: 1px solid black;
    background-color: #fafafa;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .pet-image-container {
    justify-content: center;
    padding:10px;
  }
  
  .pet-image {
    height:250px;
  }

  .dashboard {
    padding:20px;
  }
  
  .dashboard div {
    display:block;
  }
  
  .button-container {
    margin-top:20px;
  }
  
  .button-container button {
    width: 100px;
      margin-right: 10px;
      text-align: center;
      display: inline-block;
    font-size:15px;
    background-color: #1e2835;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
  }